<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="message">
  <strong>{{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
 
<div class="jumbotron jumbotron-fluid">
  <div class="container">
  <div class="col-md-4 offset-md-4 mt-5">
    <h1> Login</h1>
  
    <form #loginForm='ngForm' (ngSubmit)="loginForm.valid" novalidate>
        <div class="form-group">
          <label for="emailId"><i class= "fa fa-user icon">Email address </i><span class="required">*</span></label>
            <input type="email" class="form-control" required [class.is-invalid]="emailId.invalid && emailId.touched" 
             name="emailId" id="emailId" #emailId='ngModel' ngModel  required placeholder="ex: abc@gmail.com">
  
            <div *ngIf="emailId.invalid &&(emailId.dirty || emailId.touched)" class="invalid-feedback">
              <div *ngIf="emailId.errors.required">email is required</div>
           </div>
          </div>
  
          
            <label for="password"><i class="fa fa-key icon">Password</i><span class="required">*</span></label>
            <div class="input-group mb-3">
            <input [type]="passwordType" class="form-control" name="password" id="password"
            [class.is-invalid]="password.invalid && password.touched"  #password='ngModel' ngModel required> 
            <div class="input-group-append">
              <span class="input-group-text" (click)='showPassword()'>
               <i [class]="iconClass" aria-hidden="true"></i>
              </span>
           </div>
            
            <div *ngIf="password.invalid &&(password.dirty || password.touched)" class="invalid-feedback">
              <div *ngIf="password.errors.required">password is required</div>
           </div>
            
          </div>
      
          <a routerLink="/forgot-password">forgot password?</a>
          
          <div class="float-right">
              <button [disabled]="!loginForm.form.valid" type="submit" class="btn btn-outline-success" (click)="login(loginForm)">Login</button>
          </div>
        </form>
  </div>
  </div>
</div>
  
  
   
  