<div class="alert alert-primary alert-dismissible fade show" role="alert" *ngIf="message">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="jumbotron">
      <div class=" offset-md-4">
        <h3>Beneficiaries</h3>
        <form #beneficiariesForm='ngForm' (ngSubmit)="beneficiariesForm.valid"  novalidate  >
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="firstName">First Name<span class="required">*</span></label>
              <input type="text" required [ngClass]="{'is-invalid': firstName.invalid && firstName.touched}" minlength="3-10" pattern="[a-zA-Z]*"
               name="firstName" id="firstName" #firstName='ngModel' ngModel   class="form-control">
  
             <div *ngIf="firstName.invalid &&(firstName.dirty ||firstName.touched)" class="invalid-feedback">
                <div *ngIf="firstName.errors.required">firstname is mandatory</div>
                <div *ngIf="firstName.errors.minlength">firstname can take minimum 3 characters and maximum 10 characters </div>
                <div *ngIf="firstName.errors.pattern">firstname takes alphabets only</div>
             </div>
            </div>

            <div class="form-group col-md-4">
              <label for="lastName">Last Name<span class="required">*</span></label>
              <input type="text" required [ngClass]="{'is-invalid': lastName.invalid && lastName.touched}" minlength="1-10" pattern="[a-zA-Z]*"
              name="lastName" id="lastName" #lastName='ngModel' ngModel  class="form-control" >

              <div *ngIf="lastName.invalid &&(lastName.dirty ||lastName.touched)" class="invalid-feedback">
                <div *ngIf="lastName.errors.required">lastname is mandatory</div>
                <div *ngIf="lastName.errors.minlength">lastname can contain minimum 1 character and maximum 10 characters</div>
                <div *ngIf="lastName.errors.pattern">lastname takes alphabets only</div>
             </div>
            </div>
          </div>

          <div class="form-row">
          <div class="form-group col-md-3">
            <label for="accountNumber">Account Number<span class="required">*</span></label>
            <input type="text" required [ngClass]="{'is-invalid': accountNumber.invalid && accountNumber.touched}" pattern="[0-9]{16}"
            name="accountNumber" id="accountNumber"  #accountNumber='ngModel' ngModel class="form-control">
  
            <div *ngIf="accountNumber.invalid &&(accountNumber.dirty || accountNumber.touched)" class="invalid-feedback">
              <div *ngIf="accountNumber.errors.required">account number is mandatory</div>
              <div *ngIf="accountNumber.errors.pattern">account number should be 16 digits only</div>
           </div>
        </div>
       </div>

         <div class="form-row">
            <div class="form-group col-md-4">
              <label for="emailId">Email Id<span class="required">*</span></label>
              <input type="text" name="emailId" id="emailId" maxlength="30"   pattern="^[a-zA-Z0-9_!#$%&’*+/=?`{|}~^.-]+@[a-zA-Z0-9.-]+$"
              required [ngClass]="{'is-invalid': emailId.invalid && emailId.touched}" #emailId='ngModel' ngModel class="form-control" placeholder="ex: abc@gmail.com">
             
              <div *ngIf="emailId.invalid &&(emailId.dirty ||emailId.touched)" class="invalid-feedback">
                <div *ngIf="emailId.errors.required">email is mandatory</div>
                <div *ngIf="emailId.errors.pattern">enter a valid email  </div>
               </div>
            </div>
        
            <div class="form-group col-md-4">
              <label for="phoneNumber">Phone Number<span class="required">*</span></label>
              <input type="text" #phoneNumber='ngModel' ngModel required pattern="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[6789]\d{9}$" class="form-control" 
              [ngClass]="{'is-invalid': phoneNumber.invalid && phoneNumber.touched}" name="phoneNumber"  id="phoneNumber">
        
              <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="invalid-feedback">
                <div *ngIf="phoneNumber.errors.required">phone number is mandatory</div> 
                <div *ngIf="phoneNumber.errors.pattern">phone number is not valid</div> 
                </div>
            </div>
          </div>
          
              <div class="row col-md-7">
                <button [disabled]='!beneficiariesForm.form.valid'  style="margin:5px" type="submit" class="btn btn-outline-success" (click)="postBeneficiary(beneficiariesForm)" >Submit</button>
                <button type="reset" style="margin:5px" class="btn btn-outline-danger">Cancel</button>
              </div>
       </form>
      </div>
     </div>